@import "../../../../layout/main.scss";

.Box {
  background-color: rgba($color-grey, 0.7);
  box-sizing: border-box;
  color: $color-white;
  display: flex;
  flex-flow: column;
  grid-column: 1/-1;
  padding: 28px 33px;

  @include from(tablet) {
    grid-column: 2/-2;
  }

  @include from(desktop) {
    grid-column: 1/6;
  }

  &__eyebrow {
    font-size: 16px;
    font-weight: 200;
    line-height: 1.2;
    margin: 0 0 10px;
  }

  &__name {
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
  }

  &__description {
    font-size: 21px;
    font-weight: 200;
    line-height: 1.15;
    margin-top: 38px;
  }

  &__cta {
    color: $color-white;
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    margin: 30px 0;
    text-decoration: underline;
  }

  &__icon {
    margin-right: 8px;
    width: 16px;
  }

  &__title {
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
  }
}
