@import '../../../layout/main.scss';

.Submit {
  margin: 40px 0;

  &__wrapper {
    align-items: center;
    background-image: url('../../../assets/submit-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;

    @include from(desktop) {
      padding: 20px 40px;
    }
  }

  &__title {
    font-size: 22px;
    font-weight: 200;
    grid-column: 1/-1;
    margin: 0 0 20px;

    @include from(tablet) {
      grid-column: 1/8;
      margin: 0;
    }

    @include from(desktop) {
      grid-column: 1/9;
      font-size: 30px;
    }
  }

  &__cta {
    border: 3px solid $color-black;
    display: inline-block;
    font-size: 20px;
    grid-column: 1/-1;
    padding: 10px;
    text-align: center;

    @include from(tablet) {
      grid-column: 8/-1;
    }

    @include from(desktop) {
      grid-column: 9/-1;
    }
  }
}