@import "../../../../layout/main.scss";

.Closing {
  background-color: rgba($color-grey, 0.3);
  bottom: 0;
  color: $color-white;
  height: 60px;
  left: 0;
  position: absolute;
  right: 0;

  &::before {
    color: rgba($color-black, 0.25);
    content: '▴';
    font-size: 35px;
    left: 29.8%;
    line-height: 1.7;
    position: absolute;
    transform: rotate(90deg);
    z-index: 1;

    @include from(desktop) {
      left: calc(29.8% + 2px);
    }
  }

  &::after {
    background: rgba($color-white, 0.7);
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
  }

  &__wrapper {
    align-items: center;
    display: flex;
    height: 100%;
  }

  &__subtitle {
    font-size: 13px;
    text-transform: uppercase;
    text-align: right;
    padding: 0 20px 0 0;
    width: 30%;
  }

  &__copy {
    color: $color-grey;
    font-size: 30px;
    text-align: left;
    padding: 0 0 0 20px;
    width: 70%;
    z-index: 2;

    @include from(tablet) {
      font-size: 32px;
    }
  }

  &__days {
    font-weight: 200;
  }
}
