@import '../../../layout/main.scss';

.Banner {
  margin: 40px 0;

  &__wrapper {
    background-color: $color-grey-light;
    padding: 20px;

    @include from(desktop) {
      padding: 20px 40px;
    }
  }

  &__content {
    grid-column: 1/-1;

    @include from(tablet) {
      grid-column: 1/5;
    }

    @include from(desktop) {
      grid-column: 1/4;
    }
  }

  &__subtitle {
    align-items: center;
    display: flex;
    font-size: 15px;
    font-weight: 200;
    grid-column: 1/-1;
    line-height: 1.5;

    @include from(tablet) {
      grid-column: 5/-1;
      margin: 0;
    }

    @include from(desktop) {
      grid-column: 4/-1;
    }
  }

  &__eyebrow {
    font-size: 22px;
    font-weight: 200;
    margin: 8px 0;

    @include from(tablet) {
      margin: 0;
    }
  }

  &__title {
    font-size: 37px;
    line-height: 1;
    margin: 0;
  }
}