@import '../../layout/main.scss';

.Header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

  &__title {
    color: $color-white;
    font-size: 24px;
    font-weight: 400;
    grid-column: 2/-1;

    @include from(tablet) {
      grid-column: 1/4;
    }

    @include from(desktop) {
      font-size: 32px;
    }
  }

  &__menu {
    grid-column: 1/2;
  }

  &__nav {
    background: $color-white;
    display: flex;
    height: 100vh;
    padding: 80px 30px;
    position: absolute;
    transform: translatex(calc(-100% - 20px));
    transition: .3s ease-in;
    width: 50%;
    z-index: 12;

    &--open {
      transform: translatex(-16px);

      @include from(tablet) {
        transform: none;
      }
    }

    @include from(tablet) {
      background: transparent;
      grid-column: 4/-1;
      height: 100%;
      padding: 0;
      position: relative;
      transform: none;
      transition: none;
      width: auto;
    }
  }

  &__overlay {
    background-color: rgba($color-black, .8);
    height: 100vh;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: .3s ease-in;
    top: 0;
    width: 100vw;
    z-index: -1;

    &--open {
      opacity: 1;
      z-index: 10;
    }

    @include from(tablet) {
      display: none;
      transition: none;
    }
  }

  &__list {
    align-items: center;
    width: 100%;

    @include from(tablet) {
      display: flex;
      height: 100%;
      justify-content: flex-end;
    }
  }

  &__item {
    @include from(tablet) {
      height: 100%;
    }
  }

  &__link {
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: 300;
    padding: 20px 0;

    @include from(tablet) {
      color: $color-white;
      height: 100%;
      margin: 0 20px;
      padding: 0;
    }
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
  }

  &__wrapper {
    align-items: center;
    height: 110px;
    z-index: 11;
  }

  &__menu,
  &__menu-button {
    width: 24px;

    @include from(tablet) {
      display: none;
    }
  }

  &__menu-close {
    @include from(tablet) {
      display: none;
    }
  }

  &__icon-image {
    filter: invert(1);
    margin-right: 10px;
    width: 24px;

    @include from(tablet) {
      filter: none;
      margin-right: 0;
      width: 28px;
    }
  }

  &__label {
    width: 100%;
  }

  &__label--hidden {
    @include from(tablet) {
      display: none;
    }
  }
}