@import '../../../../layout/main.scss';

.Character {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  grid-column: 1/-1;
  height: 550px;
  margin-bottom: 28px;
  position: relative;

  @include from(desktop) {
    grid-column: 5 span;
  }

  &::after {
    content: '';
    background: linear-gradient(rgba(255,0,0,0), rgb(10, 10, 10));
    height: 100%;
    position: absolute;
    bottom: 0;
    pointer-events: none;
    width: 100%;
    z-index: 1;
  }

  &__content {
    color: $color-white;
    width: 100%;
    padding: 0 40px 40px;
    position: absolute;
    bottom: 55px;
    z-index: 2;
  }

  &__name {
    font-size: 45px;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 10px;
  }

  &__subtitle,
  &__category {
    font-size: 16px;
    margin-bottom: 10px;
  }

  &__date {
    font-weight: 600;
  }

  &__description {
    font-weight: 200;
    font-size: 18px;
  }

  &__description {
    margin-bottom: 20px;
    width: 100%;

    @include from(tablet) {
      width: 60%;
    }

    @include from(desktop) {
      width: 90%;
    }
  }

  &__placeholder {
    display: none;
  }
}